
@font-face {
  font-family: 'Fira Code';
  src: url("../public/fonts/FiraCode-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


.container {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  height: 100vh;

}
.leftContainer {
  background-color: #0B47FB6B;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  border-radius: 0px 500px 500px 0px;
  float: left;
  width: 32vw;
  height: 100%;

  text{
    color: #FFFFFF;
    font-family: "Fira Code";
    font-size: 4vw;
    cursor: pointer;

    @media screen and (max-width: 750px){
      font-size: 5vw;
    }

  }

}
.rightContainer {
  background-color: black;
  border-radius: 500px 0px 0px 500px;
  width: 32vw;
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  @media screen and (max-width: 750px){
    background-color: black;
  }
  text{
    color: #FFFFFF;
    font-family: "Fira Code";
    font-size: 4vw;
    cursor: pointer;
    @media screen and (max-width: 750px){
      font-size: 5vw;
    }
  }
}

.profile{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  img{
    margin-top: 10vw;
    margin-bottom: 7.5vw;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 500px;
    @media screen and (max-width: 750px){
      width: 10vw;
      height: 10vw;
      margin-bottom: 10vw;
    }
  }
  a{
    text{
      text-decoration: underline;

    }
  }
  text{
    margin-top: 1vw;
    width: 28vw;
    margin-bottom: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Fira Code";
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 750px){
      font-size: 3vw;

    }
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  a {
    color: #0070f3;
    text-decoration: none;
  }
  a:hover,
  a:active {
    text-decoration: underline;
  }

}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 65%;
  card:hover,
  card:focus,
  card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
